<div class="main-container">
  <div class="game-container">
    <div class="deck-container">
        <app-card class="items" *ngFor="let item of aiDeckOfCards" [card] = "item"></app-card>
    </div>
    <div class="draw-container">
        <app-card *ngFor="let item of aiDrawCards" [card] = "item"></app-card>
    </div>
  </div>
  <hr>
  <div class="result-container">
    <app-card *ngFor="let item of resultSetCards" [card] = "item"></app-card>
  </div>
  <hr>
  <div class="game-container">
    <div class="deck-container">
        <app-card class="items" *ngFor="let item of userDeckOfCards" [card] = "item" (click)="userDrawCard(item)"></app-card>
    </div>
    <div class="draw-container">
        <app-card *ngFor="let item of userDrawCards" [card] = "item" (click)="showResult(item)"></app-card>
    </div>
  </div>
</div>
